{% extends 'base.html' %}

{% block content1 %}

<h2>Please share your contact with us, we will call you back</h2>

<div class="container">
    <form method="post" action="/family/contact/">
    {% csrf_token %}
        <div class="form-group">
          <label for="exampleName">Name</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share details with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="Exmaple phone number">Phone number</label>
          <input type="phone" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock %}
